{
    "token": "Токен бота",
    "prefix": "Префикс",
    "AlexFlipNoteKey": "AlexFlipNote API ключ",
    "BrawlstarsToken": "Токен BrawlStars API",
    "Xaliks": "Оставьте тут свой ID (не обращайте внимание на Xaliks))",
}
