{
    "token": "Токен бота",
    "prefix": "Префикс",
    "openWeatherMapKey": "Сюда ключ",
    "AlexFlipNoteKey": "AlexFlipNote API ключ",
    "Xaliks": "Оставьте тут свой ID (не обращайте внимание на Xaliks))",

    "emoji":{
        "error": "Эмодзи для ошибки",
        "yes": "Эмодзи для подтверждения",

        "idle": "Эмодзи статуса "Не активен"",
        "dnd": "Эмодзи статуса "Не беспокоить"",
        "online": "Эмодзи статуса "Онлайн"",
        "offline": "Эмодзи статуса "Оффлайн""
    },

    "emojiId":{
        "error": "ID эмодзи для ошибки",
        "yes": "ID эмодзи для подтверждения",

        "idle": "ID эмодзи статуса "Не активен"",
        "dnd": "ID эмодзи статуса "Не беспокоить"",
        "online": "ID эмодзи статуса "Онлайн"",
        "offline": "ID эмодзи статуса "Оффлайн""
    }
}
